<!DOCTYPE html>
<html lang="en">
  <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="container">

      <div id="heading">
	<h1 class="text-center">
	  Global list of members
	</h1>
      </div>

      <div id="sectionLabel">
	OUR MEMBERS
	<hr>
      </div>

      <table class="table text-white table-dark table-hover text-center">
	<thead>
	  <tr class="table-head">
	    <th scope="col">Username</th>
	    <th scope="col">Movies watched</th>
	    <th scope="col">Reviews</th>
	  </tr>
	</thead>
	<tbody>
	  <% users.forEach(obj=>{ %>
	  <tr>
	    <td><a href="/users/<%=obj.username%>" class="text-white" style="text-decoration:none;"><%=obj.username%></a></td>
	    <td class="text-success fa fa-eye"> <a href="/users/<%=obj.username%>" style="text-decoration:none;" class="text-success">&nbsp;<%=obj.movies_watched%></a></td>
	    <td class="text-danger"><a href="/users/<%=obj.username%>"class="text-danger" style="text-decoration:none;"><i class="fa fa-comment"></i><%=obj.review_count%></a></td>
	  </tr>
	  <% }); %>
	</tbody>
      </table>

      <% include partials/recent-reviews.ejs %>

    </div>

  </body>
  <% include partials/footer.ejs %>
</html>
